
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>employee</title>
</head>
<body>
    
    <h1> All the employees </h1>
    <p> Here is list of our current employees</p>
   
    <table>
        <tr>
            <td>EmployeeId</td>
            <td>Name</td>
            <td>mail</td>
            <td>Dept</td>
            <td>StartDate</td>
            
        </tr>

        @foreach (var employee in Model)
        {
        <tr>
            <td>@employee.EmployeeId</td>
            <td>@employee.Name</td>
            <td>@employee.Mail</td>
            <td>@employee.Dept</td>
            <td>@employee.StartDate</td>
            
        </tr>
        }
    </table>



</body>
</html>
